<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EDM" connectionString="metadata=res://*/Entidades.Modelo.csdl|res://*/Entidades.Modelo.ssdl|res://*/Entidades.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KMTVQUV;initial catalog=Taller;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>